In [1]:
import numpy
import pandas as pd

In [2]:
loan_data = pd.read_csv('data/loan-approval-data.csv')
loan_data.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2.0,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0.0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3.0,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2.0,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1.0,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N

In [11]:
print(f"Number of approved loans: {len(loan_data[loan_data['Loan_Status']=='Y'])}")
print(f"Number of non-approved loans: {len(loan_data[loan_data['Loan_Status']=='N'])}")
print(f"Number of loan applications: {len(loan_data)}")

Number of approved loans: 411
Number of non-approved loans: 187
Number of loan applications: 598

In [17]:
print(f"Number of male applicants: {len(loan_data[loan_data['Gender']=='Male'])}")
print(f"Number of female applicants: {len(loan_data[loan_data['Gender']=='Female'])}")

Number of male applicants: 487
Number of female applicants: 111

In [19]:
print(f"Number of married applicants: {len(loan_data[loan_data['Married']=='Yes'])}")
print(f"Number of non-married applicants: {len(loan_data[loan_data['Married']=='No'])}")

Number of married applicants: 388
Number of non-married applicants: 210

In [48]:
loan_data['Dependents'].unique()

array([ 0.,  1.,  2.,  3., nan])

In [49]:
for num_dependents in loan_data['Dependents'].unique().tolist():
    print(f"Number of applications with {num_dependents}: {len(loan_data[loan_data['Dependents']==num_dependents])}")

Number of applications with 0.0: 338
Number of applications with 1.0: 101
Number of applications with 2.0: 99
Number of applications with 3.0: 48
Number of applications with nan: 0

In [51]:
print(f"Number of applicants with missing field for dependents: {loan_data['Dependents'].isna().sum()}")

Number of applicants with missing field for dependents: 12

In [53]:
print(f"Number of graduated applicants: {len(loan_data[loan_data['Education']=='Graduate'])}")
print(f"Number of non-graduated applicants: {len(loan_data[loan_data['Education']=='Not Graduate'])}")

Number of graduated applicants: 465
Number of non-graduated applicants: 133

In [54]:
print(f"Number of self-employed applicants: {len(loan_data[loan_data['Self_Employed']=='Yes'])}")
print(f"Number of non-self-employed applicants: {len(loan_data[loan_data['Self_Employed']=='No'])}")

Number of self-employed applicants: 110
Number of non-self-employed applicants: 488

In [58]:
loan_data[['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term']].describe()

       ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term
count       598.000000         598.000000  577.000000        584.000000
mean       5292.252508        1631.499866  144.968804        341.917808
std        5807.265364        2953.315785   82.704182         65.205994
min         150.000000           0.000000    9.000000         12.000000
25%        2877.500000           0.000000  100.000000        360.000000
50%        3806.000000        1211.500000  127.000000        360.000000
75%        5746.000000        2324.000000  167.000000        360.000000
max       81000.000000       41667.000000  650.000000        480.000000

In [59]:
loan_data[['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term']].isna().sum()

ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           21
Loan_Amount_Term     14
dtype: int64

In [60]:
loan_data['Credit_History'].unique()

array([ 1.,  0., nan])

In [63]:
print(f"Number of applicants with credit history: {len(loan_data[loan_data['Credit_History']==1.0])}")
print(f"Number of applicants with no credit history: {len(loan_data[loan_data['Credit_History']==0.0])}")
print(f"Number of applicants missing credit history: {loan_data['Credit_History'].isna().sum()}")

Number of applicants with credit history: 463
Number of applicants with no credit history: 86
Number of applicants missing credit history: 49

In [64]:
loan_data['Property_Area'].unique()

array(['Urban', 'Rural', 'Semiurban'], dtype=object)

In [65]:
print(f"Number of urban applicants: {len(loan_data[loan_data['Property_Area']=='Urban'])}")
print(f"Number of rural applicants: {len(loan_data[loan_data['Property_Area']=='Rural'])}")
print(f"Number of semi-urban applicants: {len(loan_data[loan_data['Property_Area']=='Semiurban'])}")

Number of urban applicants: 198
Number of rural applicants: 175
Number of semi-urban applicants: 225